<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add new menu item</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Add menu item to {{restaurant.name}}</h1>
      <form action="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}" method="post" enctype="multipart/form-data" class="form">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control" value="" />
        </div>
        <div class="form-group">
          <label for="name">Description</label>
          <textarea name="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="name">Price</label>
          <input type="text" name="price" class="form-control" value="" />
        </div>
        <div class="form-group">
          <label for="name">Course</label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" name="course" value="Appetizer" autocomplete="off"> Appetizer
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="course" value="Beverage" autocomplete="off"> Beverage
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="course" value="Dessert" autocomplete="off"> Dessert
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="course" value="Entree" autocomplete="off"> Entree
              </label>
            </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary mt-2">Save</button>
          <a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}" class="btn btn-info mt-2">Cancel</a>
        </div>
      </form>

    </div>
  </div>



</div>

</body>
</html>
